@use '../2-helpers/' as *;
.about {
  // padding-top: 32px;
  // padding-bottom: 42px;
  // @include breakpoint(md, min) {
  //   padding-top: 70px;
  //   padding-bottom: 100px;
  // }
  // @include breakpoint(lg, min) {
  //   padding-top: 84px;
  // }
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    @include breakpoint(md, min) {
      gap: 80px;
    }
    @include breakpoint(lg, min) {
      flex-direction: row;
      gap: 120px;
    }
  }
  &__pets {
    width: 260px;
    height: 353.6px;
    vertical-align: top;
    @include breakpoint(md, min) {
      width: 300px;
      height: 408px;
    }
  }
  &__image {
    width: 100%;
  }
  &__context {
    max-width: 320px;
    margin-bottom: 42px;
    padding-inline: clamp(0px, calc(100vw - 320px), 10px);
    @include breakpoint(md, min) {
      margin-bottom: 0;
      padding-inline: 0;
      max-width: 430px;
    }
  }
  &__title {
    color: var(--dark-l);
    margin-bottom: 24px;
    letter-spacing: 0.06em;
    text-align: center;
    @include breakpoint(md, min) {
      text-align: left;
    }
    span {
      display: block;
    }
  }
  &__parag {
    padding-inline: 15px;
    line-height: 160%;
    text-align: justify;
    &:not(:last-child) {
      margin-bottom: 22px;
    }
    @include breakpoint(md, min) {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      padding-inline: 0;
      text-align: inherit;
    }
  }

}