@use '../2-helpers' as *;
@use '../5-templates/carousel' as *;
.friends {
  background-color: var(--white-l);
  text-align: center;

  &__title {
    margin-bottom: 42px;
    @include breakpoint(md, min) {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    position: relative;
    max-width: 320px;
    margin-inline: auto;
    z-index: 1;
    @include breakpoint(md, min) {
      display: flex;
      flex-direction: column;
      row-gap: 60px;
      max-width: 708px;
    }
    @include breakpoint(lg, min) {
      max-width: 100%;
      margin-inline: 0;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    // row-gap: 48px;
    // margin-inline: auto;
    // // overflow: hidden;
    @media (max-width: 767px) {
      // max-width: 320px;
      // flex-wrap: wrap;
      // column-gap: 80px;
      // justify-content: center;
      margin-bottom: 112px;
    }
    // @include breakpoint(md, min) {
    //   column-gap: 40px;
    // }
    // @include breakpoint(lg, min) {
    //   column-gap: 90px;
    // }
  }
  &__box-img {
    width: 270px;
    height: 270px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    row-gap: 30px;
    transition: $transition;
    text-align: center;
    background-color: var(--white-s);
    border-radius: 9px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      background-color: var(--white);
      .friends__item-link {
        background-color: var(--pink-l);
        border-color: var(--pink-l);
      }
    }
    // &:is(:not(:nth-child(1))) {
    //   display: none;
    // }
    // @include breakpoint(md, min) {
    //   &:is(:not(:nth-child(1))) {
    //    display: flex;
    //   }
    //   &:nth-child(3) {
    //     display: none;
    //   }
    // }
    // @include breakpoint(lg, min) {
    //   &:nth-child(3) {
    //     display: flex
    //   }
    // }
  }
  &__item-link {
    margin-bottom: 30px;
  }
  &__link {
    width: 260px;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
  }
}