@use '../2-helpers/' as *; 
.header {
  height: 120px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  transition: $transition;
  @include breakpoint(md, min) {
    margin-inline: auto;
  }
  @include breakpoint(lg, min) {
    margin-inline: 0;
    height: 180px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    position: relative;
    @include breakpoint(md, min) {
      max-width: 708px;
      margin-inline: auto;
    }
    @include breakpoint(lg, min) {
      max-width: 100%;
    }
  }
  &__logo {
    transition: $transition;
    cursor: pointer;
    text-align: right;
    &:hover {
      opacity: .6;
      transform: scale(1.1);
    }
  }
  &__logo-title {
    color: var(--pink);
    font-family: $Georgia;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin: 0 0 8px 0;
  }
  &__logo-subtitle {
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: var(--white);
  }
  &__nav {
    .header__logo {
      display: none;
    }
    @media screen and (max-width: 767px) {

      .header__logo {
        display: block;
        max-width: 195px;
        position: absolute;
        top: 30px;
        left: 10px;
      }

      position: fixed;
      top: 0;
      width: 0px;
      height: 100vh;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      right: 0%;
      transform: translateX(150%);
      animation: slide-right-out 0.3s forwards 0.6s;
      background-color: var(--dark-3x1);
      justify-content: center;
      transition: 0.3s;
      transition-delay: 0.3s;
      z-index: 100;
    }

    &--open {
      // right: 0;
      visibility: visible;
      width: 320px;
      opacity: 1;
      transform: translateX(0%);
      animation: slide-right-in 0.3s forwards 0s;
      .header__nav-item {
        animation: slide-right-in 0.3s forwards 0s;
        &:nth-child(1) {
          animation: slide-right-in 0.3s forwards 0.1s;
          right: -150%;
        }
        &:nth-child(2) {
          animation: slide-right-in 0.3s forwards 0.2s;
          right: -150%;
        }
        &:nth-child(3) {
          animation: slide-right-in 0.5s forwards 0.3s;
          right: -150%;
        }
        &:nth-child(4) {
          animation: slide-right-in 0.5s forwards 0.4s;
          right: -150%;
        }
      }
    }
  }
  &__nav--active {
    z-index: 10;
    right: 0;
  }
  &__nav-list {
    display: flex;
    gap: 36px;
    margin-top: -4px;
    @media screen and (max-width: 767px) {
      flex-direction: column;
      row-gap: 40px;
      align-items: center;
      height: 100vh;
      justify-content: center;
    }
  }
  &__nav-item {
    @media (max-width: 767px) {
      position: relative;
      // right: -150%;
      transition: all 0.3s;
      animation: slide-right-out 0.3s forwards 0.5s;
      &:nth-child(1) {
        animation: slide-right-out 0.3s forwards 0.4s;
      }
      &:nth-child(2) {
        animation: slide-right-out 0.3s forwards 0.3s;
      }
      &:nth-child(3) {
        animation: slide-right-out 0.3s forwards 0.2s;
      }
      &:nth-child(4) {
        animation: slide-right-out 0.3s forwards 0.1s;
      }
    }
  }
  &__nav-link {
    color: var(--dark-s);
    transition: $transition;
    position: relative;
  
    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 160%;
    }
    &:hover {
      color: var(--white-s)
    }
  }
  &__nav-link::after {
    position: absolute;
    content: "";
    bottom: -7px;
    left: 0;
    right: 0;
    width: 0%;
    border-bottom: 3px solid var(--pink);
    transition: $transition;
  }
  &__nav-link:hover::after {
    width: 100%;
  }
  &__nav-link--active {
    color: var(--white);
  }
  &__nav-link--active::after {
    width: 100%;
  }
  &__nav-burger {
    z-index: 100;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(0deg);
    right: 43px;
    display: none;
    width: 30px;
    cursor: pointer;
    transition: $transition;
    span {
      // display: block;
      height: 2px;
      background-color: var(--pink);
      width: 100%;
    }
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    &--open {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
  @keyframes slide-right-in {
    from {
      right: -150%;
    }
    to {
      right: 0;
    }
  }
  @keyframes slide-right-out {
    from {
      right: 0;
    }
    to {
      right: -150%;
    }
  }
  @keyframes slide-in {
  }
  @keyframes slide-out {
    
  }
  @keyframes rotate {
    
  }
}
